<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<title>The Little Gym of West Ashley</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/timeclock.css" rel="stylesheet">
</head>
<body>
	<div class="contain" ng-controller="users">
		<h1>TLG West Ashley</h1>
		<p class="form-inline" ><input type="text" ng-model="newUser"><button class="btn" ng-click="addUser()">Add Employee</button></p>
		<h2>Active Employees</h2>
		<table class="table table-striped" width="400">
			<tbody>
				<tr ng-repeat="user in activeUsers">
					<td width="80%">{{user.name}}</td>
					<td width="20%"><a href="#" ng-click="updateUser('deactivate', user)">Deactivate</a></td>
				</tr>
			</tbody>
		</table>
		<h2>Inactive Employees</h2>
		<table class="table table-striped" width="400">
			<tbody>
				<tr ng-repeat="user in inactiveUsers">
					<td width="80%">{{user.name}}</td>
					<td width="20%"><a href="#" ng-click="updateUser('activate', user)">Activate</a></td>
				</tr>
			</tbody>
		</table>
	</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script src="js/sugar.min.js"></script>
<script src="js/users.js"></script>
</body>
</html>